body {
    background-color: #543c2c;
    color: #fff;
    font-family:'Lucida Console', monospace
}
 
h1 {
    color: #fff;
    font-family:'Lucida Console', monospace
}

table {
    border: 1px solid #df915e;
    border-collapse: collapse;
    width: 100%;
}

th, td {
  padding: 15px;
}

main {
    margin-top: 55px;
    margin-bottom: 55px;
    min-height: calc(100vh - 345px);
    overflow: auto;
}

/*------*/
/* Note */
/*------*/
.note pre {
    padding: 18px;
    border-top: 1px solid #E4E5E7;
    border-bottom: 1px solid #E4E5E7;
}

.note metadata {
    padding: 0.75em 18px;
}
.note .metadata span {
    float: right;
}
/*------------*/
/* Navigation */
/*------------*/
nav {
    border-bottom: 1px solid  #f3b48b;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #d0b7ac;
    height: 30px;
    color: #FFC300;
}

nav a {
    display: inline-block;
}

nav form {
    display: inline-block;
}

nav div {
    width: 50%;
    float: left;
}

nav div:last-child {
    text-align: right;
}

nav div:last-child a {
    margin-left: 1.5em;
    margin-right: 1em;
}
