{{define "title"}}Home{{end}}
{{define "main"}}
    <h2>Latest notes</h2>
    {{if .Notes}}
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Note</th>
        </tr>
        {{range .Notes}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Title}}</td>
                <td>{{.Text}}</td>
            </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here...</p>
    {{end}}
{{end}}
