{{define "title"}}Home{{end}}
{{define "main"}}
    <h2>💭 A stream of consciousness...</h2>
    {{if .Notes}}
    <article>
        {{range .Notes}}
            <p>{{.Text}}</p>
        {{end}}
    </article>
    {{else}}
        <p>There's nothing to see here...</p>
    {{end}}
{{end}}
