{{define "title"}}Home{{end}}
{{define "main"}}
    <h2>💭 A stream of consciousness...</h2>
    {{if .Notes}}
    <blockquote>
        {{range .Notes}}
            <p>{{.Text}}
            <br>
            <cite>user</cite>
            </p>
            <hr>
        {{end}}
    </blockquote>
    {{else}}
        <p>There's nothing to see here...</p>
    {{end}}
{{end}}
