{{define "index"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/style/style.css">
        <title>{{template "title" .}}</title>
    </head>
    <body>
        <script src="/assets/js/script.js"> </script>
        {{template "nav" .}}
        <main>
            {{template "main" .}}
        </main>
        <footer>
            <hr>
            <i>Powered by technical debt.</i>
        </footer>
    </body>
</html>
{{end}}
